@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playball&display=swap");
@font-face {
  font-family: "George";
  src: url("../fonts/George-Bold.eot");
  src: url("../fonts/George-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/George-Bold.woff2") format("woff2"), url("../fonts/George-Bold.woff") format("woff"), url("../fonts/George-Bold.ttf") format("truetype"), url("../fonts/George-Bold.svg#George-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Averta Std CY";
  src: url("../fonts/AvertaStdCY-Bold.woff2") format("woff2"), url("../fonts/AvertaStdCY-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Averta Std CY";
  src: url("../fonts/AvertaStdCY-Regular.woff2") format("woff2"), url("../fonts/AvertaStdCY-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Averta Std CY";
  src: url("../fonts/AvertaStdCY-Semibold.woff2") format("woff2"), url("../fonts/AvertaStdCY-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Pill Gothic 300mg Rg";
  src: url("../fonts/PillGothic300mg-Bold.eot");
  src: url("../fonts/PillGothic300mg-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/PillGothic300mg-Bold.woff2") format("woff2"), url("../fonts/PillGothic300mg-Bold.woff") format("woff"), url("../fonts/PillGothic300mg-Bold.ttf") format("truetype"), url("../fonts/PillGothic300mg-Regular.svg#PillGothic300mg-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* ====================================================
Media Quary
==================================================== */
/* ====================================================
// flexセット
==================================================== */
/* ====================================================
画像などを縦横比を維持したままレスポンシブ対応
*画像やGoogle Map、YouTubeの埋め込みなどを縦横比を維持したままレスポンシブ対応
.photo {
  // 画像を16:9にトリミングして縦横比を常に保つ
  @include aspect-ratio(16, 9);

  & > .image {
    @include object-fit(cover);
  }
}
==================================================== */
@media screen and (min-width: 835px) {
  .mbpc-1 {
    margin-bottom: 1px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-1 {
    margin-bottom: 1px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-2 {
    margin-bottom: 2px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-2 {
    margin-bottom: 2px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-3 {
    margin-bottom: 3px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-3 {
    margin-bottom: 3px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-4 {
    margin-bottom: 4px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-4 {
    margin-bottom: 4px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-5 {
    margin-bottom: 5px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-5 {
    margin-bottom: 5px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-6 {
    margin-bottom: 6px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-6 {
    margin-bottom: 6px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-7 {
    margin-bottom: 7px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-7 {
    margin-bottom: 7px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-8 {
    margin-bottom: 8px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-8 {
    margin-bottom: 8px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-9 {
    margin-bottom: 9px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-9 {
    margin-bottom: 9px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-10 {
    margin-bottom: 10px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-10 {
    margin-bottom: 10px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-11 {
    margin-bottom: 11px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-11 {
    margin-bottom: 11px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-12 {
    margin-bottom: 12px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-12 {
    margin-bottom: 12px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-13 {
    margin-bottom: 13px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-13 {
    margin-bottom: 13px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-14 {
    margin-bottom: 14px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-14 {
    margin-bottom: 14px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-15 {
    margin-bottom: 15px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-15 {
    margin-bottom: 15px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-16 {
    margin-bottom: 16px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-16 {
    margin-bottom: 16px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-17 {
    margin-bottom: 17px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-17 {
    margin-bottom: 17px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-18 {
    margin-bottom: 18px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-18 {
    margin-bottom: 18px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-19 {
    margin-bottom: 19px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-19 {
    margin-bottom: 19px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-20 {
    margin-bottom: 20px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-20 {
    margin-bottom: 20px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-21 {
    margin-bottom: 21px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-21 {
    margin-bottom: 21px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-22 {
    margin-bottom: 22px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-22 {
    margin-bottom: 22px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-23 {
    margin-bottom: 23px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-23 {
    margin-bottom: 23px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-24 {
    margin-bottom: 24px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-24 {
    margin-bottom: 24px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-25 {
    margin-bottom: 25px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-25 {
    margin-bottom: 25px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-26 {
    margin-bottom: 26px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-26 {
    margin-bottom: 26px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-27 {
    margin-bottom: 27px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-27 {
    margin-bottom: 27px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-28 {
    margin-bottom: 28px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-28 {
    margin-bottom: 28px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-29 {
    margin-bottom: 29px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-29 {
    margin-bottom: 29px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-30 {
    margin-bottom: 30px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-30 {
    margin-bottom: 30px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-31 {
    margin-bottom: 31px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-31 {
    margin-bottom: 31px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-32 {
    margin-bottom: 32px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-32 {
    margin-bottom: 32px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-33 {
    margin-bottom: 33px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-33 {
    margin-bottom: 33px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-34 {
    margin-bottom: 34px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-34 {
    margin-bottom: 34px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-35 {
    margin-bottom: 35px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-35 {
    margin-bottom: 35px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-36 {
    margin-bottom: 36px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-36 {
    margin-bottom: 36px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-37 {
    margin-bottom: 37px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-37 {
    margin-bottom: 37px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-38 {
    margin-bottom: 38px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-38 {
    margin-bottom: 38px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-39 {
    margin-bottom: 39px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-39 {
    margin-bottom: 39px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-40 {
    margin-bottom: 40px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-40 {
    margin-bottom: 40px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-41 {
    margin-bottom: 41px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-41 {
    margin-bottom: 41px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-42 {
    margin-bottom: 42px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-42 {
    margin-bottom: 42px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-43 {
    margin-bottom: 43px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-43 {
    margin-bottom: 43px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-44 {
    margin-bottom: 44px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-44 {
    margin-bottom: 44px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-45 {
    margin-bottom: 45px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-45 {
    margin-bottom: 45px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-46 {
    margin-bottom: 46px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-46 {
    margin-bottom: 46px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-47 {
    margin-bottom: 47px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-47 {
    margin-bottom: 47px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-48 {
    margin-bottom: 48px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-48 {
    margin-bottom: 48px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-49 {
    margin-bottom: 49px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-49 {
    margin-bottom: 49px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-50 {
    margin-bottom: 50px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-50 {
    margin-bottom: 50px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-51 {
    margin-bottom: 51px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-51 {
    margin-bottom: 51px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-52 {
    margin-bottom: 52px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-52 {
    margin-bottom: 52px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-53 {
    margin-bottom: 53px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-53 {
    margin-bottom: 53px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-54 {
    margin-bottom: 54px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-54 {
    margin-bottom: 54px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-55 {
    margin-bottom: 55px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-55 {
    margin-bottom: 55px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-56 {
    margin-bottom: 56px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-56 {
    margin-bottom: 56px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-57 {
    margin-bottom: 57px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-57 {
    margin-bottom: 57px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-58 {
    margin-bottom: 58px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-58 {
    margin-bottom: 58px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-59 {
    margin-bottom: 59px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-59 {
    margin-bottom: 59px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-60 {
    margin-bottom: 60px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-60 {
    margin-bottom: 60px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-61 {
    margin-bottom: 61px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-61 {
    margin-bottom: 61px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-62 {
    margin-bottom: 62px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-62 {
    margin-bottom: 62px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-63 {
    margin-bottom: 63px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-63 {
    margin-bottom: 63px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-64 {
    margin-bottom: 64px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-64 {
    margin-bottom: 64px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-65 {
    margin-bottom: 65px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-65 {
    margin-bottom: 65px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-66 {
    margin-bottom: 66px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-66 {
    margin-bottom: 66px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-67 {
    margin-bottom: 67px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-67 {
    margin-bottom: 67px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-68 {
    margin-bottom: 68px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-68 {
    margin-bottom: 68px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-69 {
    margin-bottom: 69px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-69 {
    margin-bottom: 69px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-70 {
    margin-bottom: 70px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-70 {
    margin-bottom: 70px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-71 {
    margin-bottom: 71px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-71 {
    margin-bottom: 71px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-72 {
    margin-bottom: 72px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-72 {
    margin-bottom: 72px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-73 {
    margin-bottom: 73px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-73 {
    margin-bottom: 73px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-74 {
    margin-bottom: 74px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-74 {
    margin-bottom: 74px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-75 {
    margin-bottom: 75px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-75 {
    margin-bottom: 75px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-76 {
    margin-bottom: 76px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-76 {
    margin-bottom: 76px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-77 {
    margin-bottom: 77px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-77 {
    margin-bottom: 77px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-78 {
    margin-bottom: 78px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-78 {
    margin-bottom: 78px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-79 {
    margin-bottom: 79px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-79 {
    margin-bottom: 79px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-80 {
    margin-bottom: 80px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-80 {
    margin-bottom: 80px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-81 {
    margin-bottom: 81px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-81 {
    margin-bottom: 81px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-82 {
    margin-bottom: 82px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-82 {
    margin-bottom: 82px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-83 {
    margin-bottom: 83px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-83 {
    margin-bottom: 83px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-84 {
    margin-bottom: 84px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-84 {
    margin-bottom: 84px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-85 {
    margin-bottom: 85px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-85 {
    margin-bottom: 85px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-86 {
    margin-bottom: 86px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-86 {
    margin-bottom: 86px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-87 {
    margin-bottom: 87px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-87 {
    margin-bottom: 87px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-88 {
    margin-bottom: 88px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-88 {
    margin-bottom: 88px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-89 {
    margin-bottom: 89px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-89 {
    margin-bottom: 89px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-90 {
    margin-bottom: 90px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-90 {
    margin-bottom: 90px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-91 {
    margin-bottom: 91px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-91 {
    margin-bottom: 91px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-92 {
    margin-bottom: 92px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-92 {
    margin-bottom: 92px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-93 {
    margin-bottom: 93px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-93 {
    margin-bottom: 93px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-94 {
    margin-bottom: 94px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-94 {
    margin-bottom: 94px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-95 {
    margin-bottom: 95px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-95 {
    margin-bottom: 95px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-96 {
    margin-bottom: 96px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-96 {
    margin-bottom: 96px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-97 {
    margin-bottom: 97px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-97 {
    margin-bottom: 97px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-98 {
    margin-bottom: 98px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-98 {
    margin-bottom: 98px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-99 {
    margin-bottom: 99px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-99 {
    margin-bottom: 99px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-100 {
    margin-bottom: 100px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-100 {
    margin-bottom: 100px !important;
  }
}
.mb0 {
  margin-bottom: 0 !important;
}

#page-service {
  background-color: #fff;
  color: #1F1F1F;
}

.service-mv {
  padding: 84px 107px 170px;
  background: rgb(65, 105, 225);
  background: linear-gradient(140deg, #3755F3 0%, #137FD9 100%);
  color: #fff;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .service-mv {
    padding: 84px 50px;
  }
}
@media screen and (max-width: 834px) {
  .service-mv {
    padding: 188px 24px 192px;
  }
}
.service-mv:before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 2.708vw;
  height: 10.573vw;
  background: url(../img/service/before-mv.png) no-repeat right bottom/100%;
  top: 17px;
  left: 0;
}
@media screen and (max-width: 834px) {
  .service-mv:before {
    width: 91px;
    height: 111px;
    background: url(../img/service/before-mv-sp.png) no-repeat right bottom/100%;
    top: 12px;
  }
}
.service-mv:after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 40.625vw;
  height: 33.906vw;
  background: url(../img/service/after-mv.png) no-repeat right bottom/100%;
  bottom: 0;
  right: 0;
}
@media screen and (max-width: 834px) {
  .service-mv:after {
    width: 281px;
    height: 287px;
    background: url(../img/service/after-mv-sp.png) no-repeat right bottom/100%;
  }
}
.service-mv__ttl {
  margin-bottom: 56px;
}
@media screen and (max-width: 1024px) {
  .service-mv__ttl {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 834px) {
  .service-mv__ttl {
    margin-bottom: 30px;
  }
}
.service-mv__ttl > * {
  display: block;
}
.service-mv__ttl .c-ft--en {
  font-family: "Roboto", serif;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 20px;
}
@media screen and (max-width: 1024px) {
  .service-mv__ttl .c-ft--en {
    font-size: 4rem;
  }
}
@media screen and (max-width: 834px) {
  .service-mv__ttl .c-ft--en {
    font-size: 2.4rem;
    margin-bottom: 17px;
  }
}
.service-mv__ttl .c-ft--en span {
  font-size: 1.6rem;
  display: block;
  font-weight: 400;
  margin-bottom: 22px;
}
@media screen and (max-width: 834px) {
  .service-mv__ttl .c-ft--en span {
    margin-bottom: 18px;
  }
}
.service-mv__ttl .c-ft--jp {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.65;
}
@media screen and (max-width: 1024px) {
  .service-mv__ttl .c-ft--jp {
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 834px) {
  .service-mv__ttl .c-ft--jp {
    font-size: 2.4rem;
    line-height: 1.5;
  }
}

.service-intro {
  padding-top: 84px;
}
@media screen and (max-width: 834px) {
  .service-intro .inner {
    padding: 0 24px;
  }
}
.service-intro__ttl {
  margin-bottom: 34px;
}
.service-intro__ttl > * {
  display: block;
}
.service-intro__ttl .txt-sm {
  margin-bottom: 40px;
}
.service-intro__ttl .txt-lg {
  font-size: 4.8rem;
  font-weight: 700;
}
@media screen and (max-width: 1024px) {
  .service-intro__ttl .txt-lg {
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 834px) {
  .service-intro__ttl .txt-lg {
    font-size: 2.4rem;
    line-height: 1.45;
  }
}
.service-intro__desc {
  max-width: 680px;
  margin-bottom: 80px;
}
@media screen and (max-width: 1024px) {
  .service-intro__desc {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 834px) {
  .service-intro__desc {
    margin-bottom: 17px;
  }
}

.service-second {
  padding-top: 80px;
}
@media screen and (max-width: 834px) {
  .service-second {
    padding-top: 83px;
  }
}
@media screen and (max-width: 834px) {
  .service-second__ttl {
    padding: 0 6px;
  }
}
.service-second__block {
  margin-bottom: 77px;
}
@media screen and (max-width: 834px) {
  .service-second__block {
    margin-bottom: 80px;
  }
}
.service-second__block:last-of-type {
  margin-bottom: 0;
}
.service-second__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0 30px;
  padding: 0 24px;
  width: 93%;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .service-second__list {
    width: 100%;
    padding: 0;
  }
}
@media screen and (max-width: 834px) {
  .service-second__list {
    grid-template-columns: 1fr;
    gap: 80px 15px;
    max-width: 450px;
    margin: 0 auto;
    padding: 0 8px;
  }
}
.service-second__list-item {
  background: #ECF0FC;
  border-radius: 10px;
  position: relative;
  padding: 0 24px 24px;
}
@media screen and (max-width: 1024px) {
  .service-second__list-item {
    padding: 0 15px 24px;
  }
}
@media screen and (max-width: 834px) {
  .service-second__list-item {
    padding: 0 24px 24px;
  }
}
.service-second__list-item .c-txt__02 {
  color: #474747;
}
.service-second__list-ttl {
  font-size: 2.4rem;
  text-align: center;
  font-weight: 700;
  color: #4169E1;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  position: relative;
}
@media screen and (max-width: 834px) {
  .service-second__list-ttl {
    margin-bottom: -6px;
  }
}
.service-second__list-ttl span {
  margin-left: 10px;
}
@media screen and (max-width: 834px) {
  .service-second__list-ttl span {
    margin-left: 5px;
  }
}
.service-second__list-img {
  margin-bottom: 16px;
}
.service-second__list-ttlsub {
  color: #4169E1;
  height: 80px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
}
.service-second__list02 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0 30px;
  padding: 5px 24px;
  width: 93%;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .service-second__list02 {
    width: 100%;
    padding: 0;
  }
}
@media screen and (max-width: 834px) {
  .service-second__list02 {
    grid-template-columns: 1fr;
    padding: 0 8px;
    max-width: 450px;
    margin: 0 auto;
    gap: 80px 15px;
  }
}
@media screen and (max-width: 1245px) and (min-width: 835px) {
  .service-second__list02-ttl {
    font-size: 2.2rem;
  }
  .service-second__list02-ttl br {
    display: none;
  }
}
.service-second__list02-item .c-txt__02 {
  padding-bottom: 72px;
  position: relative;
  color: #474747;
}
.service-second__list02-item .c-txt__02:after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 0;
  height: 0;
  border-width: 30px 34px 0 34px;
  border-color: #4169E1 transparent transparent transparent;
  border-style: solid;
  display: inline-block;
  bottom: 16px;
  left: calc(50% - 34px);
}
.service-second__list02-item .c-txt__02:last-of-type {
  padding-bottom: 0;
}
.service-second__list02-item .c-txt__02:last-of-type:after {
  display: none;
}
.service-second__list02-item .c-ttl__08 .txt-lg {
  color: #4169E1;
}
@media screen and (max-width: 1245px) and (min-width: 835px) {
  .service-second__list02-item .c-ttl__08 .txt-lg {
    font-size: 2.2rem;
  }
  .service-second__list02-item .c-ttl__08 .txt-lg br {
    display: none;
  }
}
.service-second__bnr {
  max-width: 93%;
  margin: 0 auto;
}
@media screen and (max-width: 834px) {
  .service-second__bnr {
    max-width: 99%;
    position: relative;
    right: 9px;
  }
}

.service-solutions {
  padding-top: 147px;
  padding-bottom: 126px;
  background: #F7F7F7;
}
@media screen and (max-width: 1245px) {
  .service-solutions {
    padding: 90px 0 80px;
  }
}
@media screen and (max-width: 834px) {
  .service-solutions {
    padding-top: 116px;
    padding-bottom: 50px;
  }
}
.service-solutions:before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 260px;
  background: #fff;
  top: 0;
  left: 0;
}
@media screen and (max-width: 834px) {
  .service-solutions:before {
    height: 200px;
  }
}
.service-solutions .inner {
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 834px) {
  .service-solutions .inner {
    padding: 0 23px;
  }
}
.service-solutions__intro {
  max-width: 686px;
  margin-bottom: 83px;
}
@media screen and (max-width: 1024px) {
  .service-solutions__intro {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 834px) {
  .service-solutions__intro {
    margin-bottom: 30px;
  }
}
.service-solutions__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 127px 34px;
}
@media screen and (max-width: 1245px) {
  .service-solutions__list {
    grid-template-columns: 1fr;
    gap: 6.615vw 34px;
    width: 80%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 834px) {
  .service-solutions__list {
    grid-template-columns: 1fr;
    gap: 43px 0;
  }
}
.service-solutions__list-item {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.service-solutions__list-img {
  width: 160px;
  position: relative;
  top: -13px;
}
@media screen and (max-width: 640px) {
  .service-solutions__list-img {
    top: 0;
    margin: 0 auto 35px;
  }
}
.service-solutions__list-ct {
  width: calc(100% - 160px);
  padding-left: 34px;
}
@media screen and (max-width: 640px) {
  .service-solutions__list-ct {
    width: 100%;
    padding-left: 0;
  }
}
.service-solutions__list-ttl {
  margin-bottom: 16px;
}
@media screen and (max-width: 834px) {
  .service-solutions__list-ttl {
    font-size: 2.4rem;
  }
}

.service-data {
  padding: 80px 0;
  position: relative;
}
@media screen and (max-width: 1245px) {
  .service-data {
    padding-bottom: 0;
  }
}
@media screen and (max-width: 834px) {
  .service-data {
    padding: 60px 0 0;
  }
  .service-data:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 140px;
    background: #F7F7F7;
    top: 0;
    left: 0;
  }
  .service-data .inner {
    padding: 0 24px;
    position: relative;
    z-index: 2;
  }
}
.service-data .c-ttl__06 {
  margin-bottom: 17px;
}
@media screen and (max-width: 834px) {
  .service-data .c-ttl__06 .c-ft--en {
    margin-bottom: 18px;
  }
  .service-data .c-ttl__06 .c-ft--en span {
    font-size: 1.8rem;
    margin-bottom: 14px;
  }
}
.service-data__block {
  margin-bottom: 80px;
}
.service-data__block:nth-last-child(2) {
  margin-bottom: 126px;
}
@media screen and (max-width: 834px) {
  .service-data__block:nth-last-child(2) {
    margin-bottom: 80px;
  }
}
.service-data__block:last-of-type {
  margin-bottom: 0;
}
.service-data__intro {
  margin-bottom: 80px;
  color: #474747;
}
@media screen and (max-width: 1245px) {
  .service-data__intro {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 834px) {
  .service-data__intro {
    margin-bottom: 30px;
  }
}
.service-data__ttlsub {
  padding: 7px 15px;
  position: relative;
  margin-bottom: 32px;
}
.service-data__ttlsub:before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 6px;
  height: 100%;
  background: #4169E1;
  top: 0;
  left: 0;
}
.service-data__ttlsub--other {
  padding: 0;
  font-size: 3.2rem;
  font-weight: 700;
  margin-bottom: 10px;
}
@media screen and (max-width: 834px) {
  .service-data__ttlsub--other {
    font-size: 2.4rem;
    line-height: 1.45;
  }
}
.service-data__ttlsub--other span {
  display: block;
  font-size: 1.8rem;
  margin-bottom: 34px;
}
@media screen and (max-width: 834px) {
  .service-data__ttlsub--other span {
    font-size: 1.6rem;
  }
}
.service-data__ttlsub--other::before {
  display: none;
}
.service-data__desc {
  margin-bottom: 80px;
  color: #474747;
}
@media screen and (max-width: 834px) {
  .service-data__desc {
    letter-spacing: 0.01em;
  }
}
.service-data__desc p {
  margin-bottom: 32px;
}
.service-data__desc p:last-of-type {
  margin-bottom: 0;
}
.service-data__desc span {
  font-weight: 700;
}
.service-data__desc-dl {
  margin-bottom: 10px;
  margin-top: 11px;
}
.service-data__desc-dt {
  font-weight: 700;
}
.service-data__desc-dd ul {
  font-weight: 700;
  margin-top: 23px;
}
.service-data__chart {
  max-width: 1000px;
  margin: 0 auto;
}
.service-data__chart-ttl {
  font-size: 1.8rem;
  margin-bottom: 7px;
  font-weight: 700;
}
@media screen and (max-width: 834px) {
  .service-data__chart-ttl {
    font-size: 1.6rem;
  }
}
.service-data__chart .c-txt__02 {
  margin-bottom: 10px;
}
@media screen and (max-width: 834px) {
  .service-data__chart .c-txt__02 {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 1245px) {
  .service-data__chart-img {
    max-width: 80%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 834px) {
  .service-data__chart-img {
    max-width: 500px;
  }
}
.service-data__chart-note {
  display: block;
  text-align: right;
  margin-bottom: 0;
  margin-top: 10px;
}
.service-data__chart--styles02 {
  max-width: 800px;
}
@media screen and (min-width: 835px) {
  .service-data__chart--styles02 .service-data__chart-ttl {
    font-size: 2.4rem;
  }
}
.service-data__chart--styles03 {
  max-width: 100%;
  margin-bottom: 32px;
}
.service-data__chart--styles03 .service-data__chart-img {
  max-width: 1000px;
  margin: 0 auto;
}

.service-bnr {
  background: rgb(65, 105, 225);
  background: linear-gradient(140deg, #3755F3 0%, #137FD9 100%);
  color: #fff;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 3.333vw;
  -webkit-box-shadow: 0 43px 43px rgba(0, 0, 0, 0.16);
          box-shadow: 0 43px 43px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
}
@media screen and (max-width: 834px) {
  .service-bnr {
    padding: 64px 24px;
    border-radius: 10px;
  }
}
.service-bnr__ct {
  width: 58.31%;
  padding-right: 30px;
}
@media screen and (max-width: 834px) {
  .service-bnr__ct {
    width: 100%;
    margin-bottom: 30px;
  }
}
.service-bnr__ct .c-btn__solid {
  max-width: 250px;
  margin: 0 auto;
}
.service-bnr__ttl {
  margin-bottom: 32px;
}
@media screen and (max-width: 834px) {
  .service-bnr__ttl {
    margin-bottom: 35px;
  }
}
.service-bnr__ttl .txt-sm {
  display: block;
  margin-bottom: 32px;
}
@media screen and (max-width: 834px) {
  .service-bnr__ttl .txt-sm {
    text-align: center;
    margin-bottom: 36px;
  }
}
@media screen and (max-width: 834px) {
  .service-bnr__ttl .txt-sm img {
    width: 175px;
  }
}
.service-bnr__ttl .txt-lg {
  font-size: 3.2rem;
  font-weight: 700;
}
@media screen and (max-width: 1024px) {
  .service-bnr__ttl .txt-lg {
    font-size: 2.4rem;
  }
}
@media screen and (max-width: 834px) {
  .service-bnr__ttl .txt-lg {
    text-align: center;
    display: block;
  }
}
@media screen and (max-width: 640px) {
  .service-bnr__ttl .txt-lg {
    text-align: left;
  }
}
.service-bnr__desc {
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 23px;
}
.service-bnr__desc .txt-sm {
  display: block;
  margin-bottom: 32px;
}
.service-bnr__desc .txt-lg {
  font-size: 3.2rem;
  font-weight: 700;
}
.service-bnr__img {
  width: 41.69%;
}
@media screen and (max-width: 834px) {
  .service-bnr__img {
    width: 100%;
  }
}
.service-bnr--styles02 {
  padding: 3.854vw 3.333vw;
}
@media screen and (max-width: 834px) {
  .service-bnr--styles02 {
    padding: 64px 24px;
    width: 96%;
    margin: 0 auto;
  }
  .service-bnr--styles02 .c-txt__02 {
    font-size: 1.4rem;
    letter-spacing: 0.01em;
  }
  .service-bnr--styles02 .c-btn__solid {
    max-width: 280px;
  }
}
.service-bnr--styles02 .service-bnr__ttl {
  margin-bottom: 13px;
}
@media screen and (max-width: 834px) {
  .service-bnr--styles02 .service-bnr__ttl {
    margin-bottom: 40px;
  }
}
.service-bnr--styles02 .service-bnr__ttl .c-ft--en {
  font-family: "Roboto", serif;
  font-size: 4.8rem;
  line-height: 1;
  font-weight: 700;
  display: block;
  margin-bottom: 17px;
}
.service-bnr--styles02 .service-bnr__ttl .c-ft--jp {
  font-size: 3.2rem;
  line-height: 1.75;
  font-weight: 700;
}
.service-bnr--styles02 .service-bnr__ttlsub {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 34px;
}
.service-bnr--styles02 .service-bnr__img {
  -webkit-box-shadow: 0 43px 43px rgba(0, 0, 0, 0.16);
          box-shadow: 0 43px 43px rgba(0, 0, 0, 0.16);
}
@media screen and (max-width: 1024px) {
  .service-bnr--styles02 .service-bnr__img {
    width: 100%;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 1024px) {
  .service-bnr--styles02 .service-bnr__ct {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding-right: 0;
  }
}
@media screen and (max-width: 834px) {
  .service-bnr--styles02 .service-bnr__ct {
    margin-bottom: 0;
  }
}
.service-bnr--styles02 .service-bnr__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  font-size: 1.4rem;
  max-width: 566px;
  gap: 0 65px;
  margin: 33px auto 0;
}
@media screen and (max-width: 1245px) {
  .service-bnr--styles02 .service-bnr__list {
    gap: 0 50px;
  }
}
@media screen and (max-width: 834px) {
  .service-bnr--styles02 .service-bnr__list {
    grid-template-columns: 1fr;
    gap: 80px 0;
  }
}
.service-bnr--styles02 .service-bnr__list p {
  margin-bottom: 24px;
}
.service-bnr--styles02 .service-bnr__list-item {
  position: relative;
}
.service-bnr--styles02 .service-bnr__list-item:after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 1px;
  height: 100%;
  background: #fff;
  top: 0;
  right: -32px;
}
@media screen and (max-width: 1245px) {
  .service-bnr--styles02 .service-bnr__list-item:after {
    right: -25px;
  }
}
@media screen and (max-width: 834px) {
  .service-bnr--styles02 .service-bnr__list-item:after {
    top: auto;
    bottom: -40px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    right: 0;
    width: 70.33%;
    height: 1px;
  }
}
.service-bnr--styles02 .service-bnr__list-item:last-child:after {
  display: none;
}
.service-bnr--styles02 .service-bnr__list-ttl {
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 24px;
}

.service-faq {
  padding-top: 77px;
  padding-bottom: 6.563vw;
}
@media screen and (max-width: 834px) {
  .service-faq {
    padding-top: 62px;
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 834px) {
  .service-faq .inner {
    max-width: 600px;
    margin: 0 auto;
  }
}
.service-faq .c-ttl__07 {
  margin-bottom: 30px;
}
@media screen and (max-width: 834px) {
  .service-faq .c-ttl__07 {
    margin-bottom: 47px;
  }
}
.service-faq__bnr {
  margin-bottom: 80px;
  border-radius: 10px;
  overflow: hidden;
}
@media screen and (max-width: 834px) {
  .service-faq__bnr {
    width: 96%;
    margin: 0 auto 48px;
  }
}
.service-faq__top {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 24px;
  margin-bottom: 128px;
}
@media screen and (max-width: 834px) {
  .service-faq__top {
    padding: 0 8px;
    margin-bottom: 50px;
  }
}
.service-faq__top-left {
  width: 363px;
}
@media screen and (max-width: 834px) {
  .service-faq__top-left {
    width: 100%;
    margin-bottom: 48px;
  }
}
.service-faq__top-img {
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
}
.service-faq__top-box {
  color: #fff;
  border-radius: 10px;
  background: rgb(65, 105, 225);
  background: linear-gradient(140deg, #3755F3 0%, #137FD9 100%);
  font-size: 3.2rem;
  font-weight: 700;
  text-align: center;
  padding: 34px 10px 20px;
  margin-bottom: 18px;
}
.service-faq__top-box span {
  font-size: 8rem;
}
.service-faq__top-box p {
  margin-bottom: 10px;
}
.service-faq__top-box p:last-of-type {
  margin-bottom: 0;
}
.service-faq__top-note {
  font-size: 1.6rem;
}
.service-faq__top-right {
  width: calc(100% - 363px);
  padding-left: 32px;
}
@media screen and (max-width: 834px) {
  .service-faq__top-right {
    width: 100%;
    padding-left: 0;
  }
}
.service-faq__top-right dl {
  margin-bottom: 23px;
}
.service-faq__top-right dl:last-of-type {
  margin-bottom: 0;
}
.service-faq__top-right dl dt {
  font-weight: 700;
}
.service-faq__list {
  padding: 0 24px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0 32px;
  margin-bottom: 6.771vw;
}
@media screen and (max-width: 1024px) {
  .service-faq__list {
    gap: 0 15px;
  }
}
@media screen and (max-width: 834px) {
  .service-faq__list {
    grid-template-columns: 1fr;
    gap: 48px 0;
    padding: 0 8px;
    margin-bottom: 46px;
  }
}
.service-faq__list-img {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 26px;
}
.service-faq__list-ttl {
  margin-bottom: 23px;
}
@media screen and (max-width: 1024px) and (min-width: 835px) {
  .service-faq__list-ttl {
    font-size: 2rem;
  }
}
@media screen and (max-width: 834px) {
  .service-faq__list-ttl {
    margin-bottom: 20px;
  }
}
.service-faq__list .c-txt__02 span {
  font-weight: 700;
}
.service-faq__complete {
  padding: 0 24px;
  margin-bottom: 80px;
}
@media screen and (max-width: 834px) {
  .service-faq__complete {
    padding: 0 8px;
  }
}
.service-faq__complete-ttl {
  margin-bottom: 48px;
}
@media screen and (max-width: 834px) {
  .service-faq__complete-ttl {
    font-size: 2.4rem;
  }
}
.service-faq__complete-intro {
  margin-bottom: 48px;
  color: #474747;
}
.service-faq__complete-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 16px;
}
@media screen and (max-width: 834px) {
  .service-faq__complete-list {
    grid-template-columns: 1fr;
    gap: 50px 0;
  }
}
.service-faq__complete-list .c-txt__02 {
  color: #474747;
}
.service-faq__complete-data {
  padding: 0 3px;
  margin-bottom: 23px;
}
@media screen and (max-width: 834px) {
  .service-faq__complete-data {
    width: 85%;
    margin: 0 auto 50px;
    padding: 0;
  }
}
@media screen and (max-width: 640px) {
  .service-faq__complete-data {
    width: 100%;
  }
}
.service-faq__complete-txt-lead {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 24px;
}
@media screen and (max-width: 834px) {
  .service-faq__complete-txt-lead {
    margin-bottom: 46px;
  }
  .service-faq__complete-txt-lead:nth-child(2) {
    font-size: 1.4rem;
    margin-bottom: 18px;
  }
}
.service-faq__complete-caption {
  text-align: right;
  margin-top: 11px;
}
@media screen and (max-width: 1024px) {
  .service-faq__complete-caption {
    font-size: 1.2rem;
    margin-top: 9px;
  }
}
.service-faq__complete-caption span {
  text-decoration: underline;
}
.service-faq__point {
  background: #ECF0FC;
  padding: 48px;
  border-radius: 10px;
  color: #4169E1;
  position: relative;
  width: 96%;
  margin: 0 auto;
}
@media screen and (max-width: 834px) {
  .service-faq__point {
    padding: 48px 24px;
  }
}
.service-faq__point-txt-deco {
  font-family: "Playball", serif;
  font-size: 4.8rem;
  position: absolute;
  top: 0;
  left: 37px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  line-height: 1;
}
@media screen and (max-width: 834px) {
  .service-faq__point-txt-deco {
    font-size: 3.2rem;
    left: 25px;
  }
}
.service-faq__point-label {
  padding: 7px 14px;
  border: 1px solid #4169E1;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 20px;
  display: inline-block;
}
@media screen and (max-width: 834px) {
  .service-faq__point-label {
    font-size: 1.6rem;
    padding: 9px 16px;
    margin-bottom: 24px;
  }
}
.service-faq__point-ttl {
  margin-bottom: 16px;
}
@media screen and (max-width: 834px) {
  .service-faq__point-ttl {
    font-size: 2.4rem;
    padding-right: 5px;
    margin-bottom: 24px;
  }
}

.service-process {
  padding: 0 0 73px;
}
@media screen and (max-width: 834px) {
  .service-process .c-ttl__07 {
    margin-bottom: 88px;
  }
}
.service-process__bnr {
  margin-bottom: 80px;
}
@media screen and (max-width: 1024px) {
  .service-process__bnr {
    margin-bottom: 53px;
  }
}
@media screen and (max-width: 834px) {
  .service-process__bnr {
    margin-bottom: 33px;
  }
}
.service-process__dl {
  padding-bottom: 112px;
  position: relative;
}
@media screen and (max-width: 834px) {
  .service-process__dl {
    padding: 0 8px 128px;
  }
}
.service-process__dl:after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 102px;
  height: 45px;
  background: url(../img/service/ico-arr-down.png) no-repeat center/100%;
  bottom: 35px;
  left: calc(50% - 51px);
}
@media screen and (max-width: 1024px) {
  .service-process__dl:after {
    width: 76px;
  }
}
@media screen and (max-width: 834px) {
  .service-process__dl:after {
    width: 56px;
    height: 20px;
    bottom: 60px;
    left: calc(50% - 28px);
  }
}
.service-process__dl:nth-last-child(2) {
  padding-bottom: 80px;
}
.service-process__dl:nth-last-child(2):after {
  display: none;
}
.service-process__dt {
  font-size: 3.2rem;
  font-weight: 700;
  color: #4169E1;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  gap: 0 15px;
  margin-bottom: 33px;
}
@media screen and (max-width: 1024px) {
  .service-process__dt {
    font-size: 2.8rem;
  }
}
@media screen and (max-width: 834px) {
  .service-process__dt {
    font-size: 2.4rem;
    margin-bottom: 40px;
  }
  .service-process__dt span {
    position: relative;
    top: -8px;
  }
}
.service-process__list-item {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  margin-bottom: 34px;
}
@media screen and (max-width: 834px) {
  .service-process__list-item {
    margin-bottom: 48px;
  }
}
.service-process__list-item:last-of-type {
  margin-bottom: 0;
}
.service-process__list-img {
  width: 320px;
  border-radius: 10px;
  overflow: hidden;
}
@media screen and (max-width: 640px) {
  .service-process__list-img {
    width: 100%;
    margin-bottom: 16px;
  }
}
.service-process__list-ct {
  width: calc(100% - 320px);
  padding-left: 32px;
}
@media screen and (max-width: 640px) {
  .service-process__list-ct {
    width: 100%;
    padding-left: 0;
  }
}
@media screen and (max-width: 834px) {
  .service-process__list-ttl {
    font-size: 2.4rem;
  }
}
/*# sourceMappingURL=map/service.css.map */