@use "vars" as *;

main{
	padding-top: 88px;
	@include mq(tb){
		padding-top: 53px;
	}
}

@include mq(md-min){
	#page-index {
		padding-top: 0;
	}
}

.inner {
	display: block;
	max-width: 1320px;
	padding: 0 15px;
	margin: 0 auto;
	@include mq(){
		padding: 0 16px;
	}
	&--1200{
		max-width: 1230px;
	}
}





//form input
.form-control{
	display: block;
	width: 100%;
	height: 48px;
	background: white;
	border: 1px solid #E2E8F0;
	font-weight: 500;
	padding: 5px 20px;
	@include font-size(14);
	border-radius: 50px;
	&:focus{
		border-color: #66afe9;
		outline: 0;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
	}
	&::-webkit-input-placeholder {
		color: #94A3B8;
	}
	&:-moz-placeholder {
		color: #94A3B8;
	}
	&::-moz-placeholder {
		color: #94A3B8;
	}
	&:-ms-input-placeholder {
		color: #94A3B8;
	}
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type=number] {
	-moz-appearance: textfield;
}
textarea.form-control{
	height: 250px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	resize: none;
	@include mq(){
		height: 222px;
	}
}

select.form-control{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	background: white url(../img/select.png) no-repeat 93%;
	background-size: 12px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

}

select:required:invalid {
	color: #94A3B8;
}

.pagination{
	@include flex(center,center,wrap);
	span,a{
		@include flex(center,center);
		width: 40px;
		height: 40px;
		border-radius: 4px;
		@include font-size(14);
		line-height: 1;
		color: #94A3B8;
		border: 1px solid #94A3B8;
		margin: 0 5px;
		overflow: hidden;
		position: relative;
		@include mq(){
			width: 34px;
			height: 34px;
		}
	}
	a{
		&.current,&.active,&:hover{
			opacity: 1;
			color: white;
			background: rgb(55,85,243);
			background: linear-gradient(90deg, rgba(55,85,243,1) 0%, rgba(19,127,217,1) 100%);

		}
	}
	.arrow-link{
		text-indent: -9999px;
		&:after{
			content: "";
			border: solid #0F1A2A;
			border-width: 0 2px 2px 0;
			display: inline-block;
			padding: 3px;
		}

	}
	.prev-link{
		&:after{
			transform: rotate(135deg);
		}
		&.disabled{
			pointer-events: none;
			&:after{
				border: solid #94A3B8;
				border-width: 0 2px 2px 0;
			}
		}
		&:hover{
			&:after{
				border: solid white;
				border-width: 0 2px 2px 0;
			}
		}
	}
	.next-link{
		&:after{
			transform: rotate(-45deg);
		}
		&.disabled{
			pointer-events: none;
			&:after{
				border: solid #94A3B8;
				border-width: 0 2px 2px 0;
			}
		}
		&:hover{
			&:after{
				border: solid white;
				border-width: 0 2px 2px 0;
			}
		}
	}
}

.sec-breadcrumb{
	padding: 20px 0;
	@include font-size(16);
	color: #463B39;
	.inner{
		@include flex(0,center,wrap);
		a{
			display: block;
			color: #94A3B8;
			position: relative;
			padding: 0 20px 0 0;
			margin-right: 20px;
			z-index: 1;
			&:after{
				content: "";
				border: solid #94A3B8;
				border-width: 0 2px 2px 0;
				display: inline-block;
				padding: 3px;
				transform: rotate(-45deg);
				position: absolute;
				top: 8px;
				right: 0;
			}
		}
	}
}

.support-online{
	position: fixed;
	@include v-align;
	right: 15px;
	background: rgb(55,85,243);
	background: linear-gradient(90deg, rgba(55,85,243,1) 0%, rgba(19,127,217,1) 100%);
	@include font-size(16);
	line-height: 1.6;
	color: white;
	font-weight: bold;
	max-width: 220px;
	padding: 5px 20px 5px 75px;
	border-radius: 60px;
	z-index: 99;
	@include mq(){
		width: 60px;
		height: 60px;
		@include flex(center,center);
		padding: 0;
		span{
			display: none;
		}
	}
	&:before{
		content: "";
		width: 48px;
		height: 48px;
		background: url("../img/24h.png")no-repeat;
		background-size: 100%;
		position: absolute;
		@include v-align;
		left: 10px;
		@include mq(){
			position: static;
			transform: translateY(0);
		}
	}
}

.check-list{
	padding: 0 20px;
	margin-bottom: 30px;
	@include mq(){
		padding: 0;
	}
	li{
		position: relative;
		@include font-size(16);
		color: $blue;
		text-align: left;
		padding: 12px 34px;
		font-weight: bold;
		@include mq(){
			@include font-size(14);
		}
		&:before{
			content: "";
			width: 22px;
			height: 17px;
			background: url("../img/check.png")no-repeat;
			background-size: 100%;
			position: absolute;
			@include v-align;
			left: 0;
		}
		&:after{
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 2px;
			background: url("../img/line.png")repeat-x;
		}
	}
}