@use 'vars' as *;

#page-service{
	background-color: #fff;
	color: #1F1F1F;
}

.service-mv{
	padding: 84px 107px 170px;
	background: rgb(65, 105, 225);
	background: linear-gradient(140deg, #3755F3 0%, #137FD9 100%);
	color: #fff;
	position: relative;
	@include p-before(52px, 203px){
		background: url(../img/service/before-mv.png) no-repeat right bottom/100%;
		top: 17px;
		left: 0;
	}
	@include p-after(780px, 651px){
		background: url(../img/service/after-mv.png) no-repeat right bottom/100%;
		bottom: 0;
		right: 0;
	}
	&__ttl{
		margin-bottom: 56px;
		& > *{
			display: block;
		}
		.c-ft{
			&--en{
				font-family: $font-Roboto;
				@include font-size(64);
				font-weight: 700;
				line-height: 1;
				margin-bottom: 20px;
				span{
					@include font-size(16);
					display: block;
					font-weight: 400;
					margin-bottom: 22px;
				}
			}
			&--jp{
				@include font-size(48);
				font-weight: 700;
				line-height: 1.65;
			}
		}
	}
}

.service-intro{
	padding-top: 84px;
	&__ttl{
		margin-bottom: 34px;
		& > *{
			display: block;
		}
		.txt-sm{
			margin-bottom: 40px;
		}
		.txt-lg{
			@include font-size(48);
			font-weight: 700;
		}
	}
	&__desc{
		max-width: 680px;
		margin-bottom: 80px;
	}
	&__img{

	}
}

.service-second{
	padding-top: 80px;
	&__block{
		margin-bottom: 77px;
		&:last-of-type{
			margin-bottom: 0;
		}
	}
	&__list{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 0 30px;
		padding: 0 24px;
		width: 93%;
		margin: 0 auto;
		&-item{
			background: #ECF0FC;
			border-radius: 10px;
			position: relative;
			padding: 0 24px 24px;
			.c-txt__02{
				color: #474747;
			}
		}
		&-ttl{
			@include font-size(24);
			text-align: center;
			font-weight: 700;
			color: #4169E1;
			transform: translateY(-50%);
			position: relative;
			span{
				margin-left: 10px;
			}
		}
		&-img{
			margin-bottom: 16px;
		}
		&-ttlsub{
			color: #4169E1;
			height: 80px;
			@include flex(0,center);
		}
	}

	&__list02{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 0 30px;
		padding: 5px 24px;
		width: 93%;
		margin: 0 auto;
		&-item{
			.c-txt__02{
				padding-bottom: 60px;
				position: relative;
				color: #474747;
				@include p-after(0, 0){
					border-width: 30px 34px 0 34px;
					border-color: #4169E1 transparent transparent transparent;
					border-style: solid;
					display: inline-block;
					bottom: 6px;
					left: calc(50% - 34px);
				}
				&:last-of-type{
					padding-bottom: 0;
					&:after{
						display: none;
					}
				}
			}
			.c-ttl__08{
				.txt-lg{
					color: #4169E1;
				}
			}
		}
	}

	&__bnr{
		max-width: 93%;
		margin: 0 auto;
	}
}

.service-solutions{
	padding-top: 147px;
	padding-bottom: 126px;
	background: #F7F7F7;
	@include p-before(100%, 260px){
		background: #fff;
		top: 0;
		left: 0;
	}
	.inner{
		position: relative;
		z-index: 2;
	}
	&__intro{
		max-width: 686px;
		margin-bottom: 83px;
	}
	&__list{
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 127px 34px;
		&-item{
			@include flex(0,center);
		}
		&-img{
			width: 160px;
			position: relative;
			top: -13px;
		}
		&-ct{
			width: calc(100% - 160px);
			padding-left: 34px;
		}
		&-ttl{
			margin-bottom: 16px;
		}
	}
}

.service-data{
	padding: 80px 0;
	.c-ttl__06{
		margin-bottom: 17px;
	}
	&__block{
		margin-bottom: 80px;
		&:nth-last-child(2){
			margin-bottom: 126px;
		}
		&:last-of-type{
			margin-bottom: 0;
		}
	}
	&__intro{
		margin-bottom: 80px;
		color: #474747;
	}
	&__ttlsub{
		padding: 7px 15px;
		position: relative;
		margin-bottom: 32px;
		@include p-before(6px, 100%){
			background: #4169E1;
			top: 0;
			left: 0;
		}
		&--other{
			padding: 0;
			@include font-size(32);
			font-weight: 700;
			margin-bottom: 10px;
			span{
				display: block;
				@include font-size(18);
				margin-bottom: 34px;
			}
			&::before{
				display: none;
			}
		}
	}
	&__desc{
		margin-bottom: 80px;
		color: #474747;
		p{
			margin-bottom: 32px;
			&:last-of-type{
				margin-bottom: 0;
			}
		}
		span{
			font-weight: 700;
		}
		&-dl{
			margin-bottom: 10px;
			margin-top: 11px;
		}
		&-dt{
			font-weight: 700;
		}
		&-dd{
			ul{
				font-weight: 700;
				margin-top: 23px;
			}
		}
	}
	&__chart{
		max-width: 1000px;
		margin: 0 auto;
		&-ttl{
			@include font-size(18);
			margin-bottom: 7px;
		}
		.c-txt__02{
			margin-bottom: 10px;
		}
		&-note{
			display: block;
			text-align: right;
			margin-bottom: 0;
			margin-top: 10px;
		}
		&--styles02{
			max-width: 800px;
			.service-data__chart{
				&-ttl{
					@include font-size(24);
				}
			}
		}
		&--styles03{
			max-width: 100%;
			margin-bottom: 32px;
			.service-data__chart{
				&-img{
					max-width: 1000px;
					margin: 0 auto;
				}
			}
		}
	}
}

.service-bnr{
	background: rgb(65, 105, 225);
	background: linear-gradient(140deg, #3755F3 0%, #137FD9 100%);
	color: #fff;
	@include flex(0,center,wrap);
	padding: 64px 64px;
	&__ct{
		width: calc(100% - 447px);
		.c-btn__solid{
			max-width: 250px;
			margin: 0 auto;
		}
	}
	&__ttl{
		margin-bottom: 32px;
		.txt-sm{
			display: block;
			margin-bottom: 32px
		}
		.txt-lg{
			@include font-size(32);
			font-weight: 700;
		}
	}
	&__desc{
		@include font-size(14);
		text-align: center;
		margin-bottom: 23px;
		.txt-sm{
			display: block;
			margin-bottom: 32px
		}
		.txt-lg{
			@include font-size(32);
			font-weight: 700;
		}
	}
	&__img{
		width: 447px;
	}

	&--styles02{
		padding: 74px 64px;
		.service-bnr{
			&__ttl{
				margin-bottom: 13px;
				.c-ft{
					&--en{
						font-family: $font-Roboto;
						@include font-size(48);
						line-height: 1;
						font-weight: 700;
						display: block;
						margin-bottom: 17px;
					}
					&--jp{
						@include font-size(32);
						line-height: 1.75;
						font-weight: 700;
					}
				}
			}
			&__img{
				box-shadow: 0 43px 43px rgba($color: #000000, $alpha: .16);
			}
			&__list{
				display: grid;
				grid-template-columns: 1fr 1fr;
				text-align: center;
				@include font-size(14);
				margin-top: 33px;
				max-width: 566px;
				gap: 0 65px;
				p{
					margin-bottom: 24px;
				}
				&-item{
					position: relative;
					@include p-after(1px, 100%){
						background: #fff;
						top: 0;
						right: -32px;
					}
					&:last-child{
						&:after{
							display: none;
						}
					}
				}
				&-ttl{
					@include font-size(18);
					font-weight: 700;
					text-align: center;
					margin-bottom: 24px;
				}
			}
		}
	}
}

.service-faq{
	padding-top: 77px;
	padding-bottom: 126px;
	.c-ttl__07{
		margin-bottom: 30px;
	}
	&__bnr{
		margin-bottom: 80px;
		border-radius: 10px;
	}
	&__top{
		@include flex(0,0,wrap);
		padding: 0 24px;
		margin-bottom: 128px;
		&-left{
			width: 363px;
		}
		&-img{
			margin-bottom: 20px;
		}
		&-box{
			color: #fff;
			border-radius: 10px;
			background: rgb(65, 105, 225);
			background: linear-gradient(140deg, #3755F3 0%, #137FD9 100%);
			@include font-size(32);
			font-weight: 700;
			text-align: center;
			padding: 34px 10px 20px;
			margin-bottom: 18px;
			span{
				@include font-size(80);
			}
			p{
				margin-bottom: 10px;
				&:last-of-type{
					margin-bottom: 0;
				}
			}
		}
		&-note{
			@include font-size(16);
		}
		&-right{
			width: calc(100% - 363px);
			padding-left: 32px;
			dl{
				margin-bottom: 23px;
				&:last-of-type{
					margin-bottom: 0;
				}
				dt{
					font-weight: 700;
				}
			}
		}
	}
	&__list{
		padding: 0 24px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 0 32px;
		margin-bottom: 130px;
		&-img{
			border-radius: 10px;
			overflow: hidden;
			margin-bottom: 26px;
		}
		&-ttl{
			margin-bottom: 23px;
		}
		.c-txt__02{
			span{
				font-weight: 700;
			}
		}
	}


	&__complete{
		padding: 0 24px;
		margin-bottom: 80px;
		&-ttl{
			margin-bottom: 48px;
		}
		&-intro{
			margin-bottom: 48px;
			color: #474747;
		}
		&-list{
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 0 16px;
			.c-txt__02{
				color: #474747;
			}
		}
		&-data{
			padding: 0 3px;
			margin-bottom: 23px;
		}
		&-txt-lead{
			@include font-size(18);
			font-weight: 700;
			margin-bottom: 24px;
		}
		&-caption{
			text-align: right;
			margin-top: 11px;
			span{
				text-decoration: underline;
			}
		}
	}

	&__point{
		background: #ECF0FC;
		padding: 48px;
		border-radius: 10px;
		color: #4169E1;
		position: relative;
		width: 96%;
		margin: 0 auto;
		&-txt-deco{
			font-family: "Playball", serif;
			@include font-size(48);
			position: absolute;
			top: 0;
			left: 37px;
			transform: translateY(-50%);
			line-height: 1;
		}
		&-label{
			padding: 7px 14px;
			border: 1px solid #4169E1;
			@include font-size(18);
			font-weight: 700;
			margin-bottom: 20px;
			display: inline-block;
		}
		&-ttl{
			margin-bottom: 16px;
		}
	}
}


.service-process{
	padding: 0 0 73px;
	&__bnr{
		margin-bottom: 80px;
	}
	&__dl{
		padding-bottom: 112px;
		position: relative;
		@include p-after(102px, 45px){
			background: url(../img/service/ico-arr-down.png) no-repeat center/100%;
			bottom: 35px;
			left: calc(50% - 51px)
		}
		&:nth-last-child(2){
			padding-bottom: 80px;
			&:after{
				display: none;
			}
		}
	}
	&__dt{
		@include font-size(32);
		font-weight: 700;
		color: #4169E1;
		@include flex(0, center);
		gap: 0 15px;
		margin-bottom: 33px;
	}
	&__list{
		&-item{
			@include flex(0,0);
			margin-bottom: 34px;
			&:last-of-type{
				margin-bottom: 0;
			}
		}
		&-img{
			width: 320px;
			border-radius: 10px;
			overflow: hidden;
		}
		&-ct{
			width: calc(100% - 320px);
			padding-left: 32px;
		}
		&-ttl{

		}
	}
}