<main id="page-<%= pageData.template %>">
	<%- include('common/_breadcrumb'); %>
    <section class="page-faq">
        <div class="inner">
            <h1 class="c-ttl__05">
                <span class="txt-lg">FAQ</span>
                <span class="txt-sm">/　　よくある質問　　/</span>
            </h1>
            <dl class="page-faq__dl">
                <dt class="page-faq__dt">何社くらいの求人を紹介できますか。</dt>
                <dd class="page-faq__dd">経験やご希望条件によりますが、およそ3〜5社程度でしょうか。詳しくはお問い合わせください。</dd>
            </dl>
            <dl class="page-faq__dl">
                <dt class="page-faq__dt">経歴書編集サポートはありますでしょうか。</dt>
                <dd class="page-faq__dd">もちろんございます。あなただけの貴重な経験を読み手に刺さる表現ができるようにアドバイスさせていただきます。</dd>
            </dl>
            <dl class="page-faq__dl">
                <dt class="page-faq__dt">面談は夜帯や土日でも可能でしょうか。</dt>
                <dd class="page-faq__dd">可能です。現職ある方は夜常に面談を実施するケースが多いです。</dd>
            </dl>
            <dl class="page-faq__dl">
                <dt class="page-faq__dt">サービス料金を教えてください。</dt>
                <dd class="page-faq__dd">求職者様は無料でサービスご利用いただけます。</dd>
            </dl>
            <dl class="page-faq__dl">
                <dt class="page-faq__dt">面談時間は何分くらいでしょうか。</dt>
                <dd class="page-faq__dd">経験やご希望条件によりますが、およそ3〜5社程度でしょうか。詳しくはお問い合わせください。</dd>
            </dl>
            <dl class="page-faq__dl">
                <dt class="page-faq__dt">ビザやワークパーミットの相談は可能ですか。</dt>
                <dd class="page-faq__dd">相談は可能です。弊社ではビザやワークパーミットの取得代行サービスは行っていないのですが、取得代行をされている企業をご紹介することは可能です。</dd>
            </dl>
        </div>
    </section>
</main>